::deep .dev-menu {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.form-container {
    display: grid;
    gap: 24px;
    padding: 12px;
    position: relative;
    margin-top: 12px;
    border-radius: 7px;
    border: 1px solid var(--gray-050);
}

.form-container ::deep form {
    display: flex;
    gap: 12px;
}

.form-container .email-container {
    display: grid;
    padding: 12px;
    border: 1px solid var(--gray-050);
    border-radius: 7px;
}

.form-container .email-input {
    display: grid;
    grid-template-columns: auto 200px;
    gap: 12px;
    justify-content: start;
}

.form-container .email-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.form-container ::deep .btn-submit {
    display: block;
    margin: 12px 0px;
}

.form-container .register-success {
    display: flex;
    gap: 12px;
}
