::deep form {
    display: flex;
    gap: 12px;
}


.form-container .inputs-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-container .inputs-container .select-weekdays {
    display: flex;
    gap: 12px;
    justify-content: center;
    border-radius: 7px;
    border: 1px solid var(--gray-050);
}

.form-container .inputs-container .select-weekdays div {
    padding-right: 24px;
    
}

.form-container .inputs-container .week-days {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}


.form-container .inputs-container .week-days .day {
    display: flex;
    flex-direction:  column;
    gap: 12px;
    padding: 12px;
    border: 1px solid var(--gray-100);
    border-radius: 4px;
}

.form-container .inputs-container .week-days .day .title {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--gray-150);
    font-size: 1rem;
    font-weight: 500;
}

.form-container .inputs-container .week-days .day .title ::deep svg {
    height: 32px;
    width: 32px;
    padding: 4px;
    border: 1px solid var(--gray-050);
    border-radius: 4px;
}

.form-container .inputs-container .week-days .day .times {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.form-container .inputs-container .week-days .day .times .time {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    column-gap: 8px;
    row-gap: 4px;
    align-items: center;
}

.form-container .inputs-container .week-days .day .times .time .time-error {
    text-align: center;
    grid-column: 1/-1;
    color: var(--error);
}

.form-container .inputs-container .week-days .day .times .time ::deep svg {
    cursor: pointer;
}

.form-container .inputs-container .week-days .day .times .time ::deep svg:hover {
    fill: var(--gray-200);
}

