h1 {
    margin-top: 2rem;
    font-size: 1.6rem;
}

.form-container {
    display: grid;
    gap: 24px;
    padding: 12px;
    position: relative;
    margin-top: 12px;
    border-radius: 7px;
    border: 1px solid var(--gray-050);
}

.form-container .feature-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-container .feature-container .feature {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 4px;
    border-radius: 7px;
    border: 1px solid var(--gray-050);
}

.form-container .video-inputs {
    display: grid;
    grid-template-columns: 640px 2fr;
    gap: 12px;
}

.form-container .video-inputs #camera-player {
    border-radius: 7px;
    width: 100%;
    aspect-ratio: 16 / 9;
    background: black;
}

.form-container .video-inputs .inputs-container {
    display: grid;
    align-content: start;
    gap: 12px;
}

.form-container .inputs-container .connection {
    display: flex;
    align-content: center;
    gap: 12px;
}

.form-container ::deep .btn-submit {
    display: block;
    margin: 12px 0px;
}

.form-container .register-success {
    display: flex;
    gap: 12px;
}
