<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .box {
            border: 1px solid #ddd;
            padding: 16px;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <div class="box">
        <h2>Novo incidente detectado</h2>

        <p><strong>Data:</strong> {{date}}</p>
        <p><strong>Pessoas:</strong> {{pessoas}}</p>



        <a href="{{videoUrl}}">Ver gravação</a>
    </div>
</body>
</html>
