
.form-container {
    display: grid;
    gap: 24px;
    padding: 12px;
    border-radius: 14px;
    border: 1px solid var(--gray-050);
    position: relative;
}

.form-container .inputs-container {
    display: grid;
    gap: 12px;
}

.form-container .inputs-container .wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 160px 240px 1fr;
    gap: 12px
}

.form-container .inputs-container .wrapper.not-allowed {
    grid-template-columns: 160px 1fr;
}

.form-container .inputs-container div .label {
    font-weight: 600;
    margin-bottom: 8px;
}

.form-container .inputs-container .allowed-sectors,
.form-container .inputs-container .denied-sectors {
    margin: 8px 0px;
}

.form-container .inputs-container .access-level {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid var(--gray-050);
}

.form-container .inputs-container .access-level .title {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 140px;
}


.form-container .inputs-container .access-level .rule {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid var(--gray-050);
}

.form-container ::deep .btn-submit {
    display: block;
    margin: 12px 0px;
}

.form-container .register-success {
    display: flex;
    gap: 12px;
}

.form-container .register-success img {
    width: 300px;
    border-radius: 7px;
}

.input-create {
    display: flex;
    gap: 12px;
}

.input-create ::deep button {
    height: 56px;
    margin-top: 8px;
}