.form-container .inputs-container .police-name {
    display: flex;
    gap: 24px;
}

::deep button {
    height: 56px;
    margin-top: 8px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}