fastapi
uvicorn
numpy<2.0
opencv-python
insightface
onnxruntime-gpu
pydantic
python-multipart
psutil
python-dotenv
loguru
tzdata
httpx
supervision
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

# Para usar com CPU
#onnxruntime
