.rules {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.rules .rule {
    display: grid;
    grid-template-columns: 20px 20px 600px 220px 220px auto;
    align-items: center;
    gap: 24px;
    border: 1px solid var(--gray-050);
    padding: 18px 12px;
    border-radius: 7px;
    margin-bottom: 12px;
}

.rules .rule ::deep svg * {
    color: var(--gray-200);
    cursor: pointer;
}

.rules .rule ::deep svg:hover * {
    color: var(--gray-500);
}

.rules .rule .input-sector {
    display: flex;
    gap: 12px;
}

/* Faz com que o elemento de erro do input select não desajuste o container */
.rules .rule .input-sector ::deep .mud-input-control-helper-container {
    position: absolute;
    bottom: -22px;
}
