h1 {
    margin-top: 2rem;
    font-size: 1.6rem;
}

.form-container {
    display: grid;
    gap: 24px;
    padding: 12px;
    border-radius: 14px;
    border: 1px solid var(--gray-050);

    position: relative;
}

.form-container ::deep .btn-submit {
    display: block;
    margin: 12px 0px; 
}

.form-container .register-success {
    display: flex;
    gap: 12px;
}